@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --foreground: #020817;

    --card: #fff;
    --card-foreground: #020817;

    --popover: #fff;
    --popover-foreground: #020817;

    --primary: #0e1629;
    --primary-foreground: #f7f7fb;

    --secondary: #f0f4f8;
    --secondary-foreground: #0e1629;

    --muted: #f0f4f8;
    --muted-foreground: #64748b;

    --accent: #f0f4f8;
    --accent-foreground: #0e1629;

    --destructive: #ee4343;
    --destructive-foreground: #f7f7fb;

    --border: #e0e7ef;
    --input: #e0e7ef;
    --ring: #020817;

    --radius: 0.5rem;
  }

  .dark {
    --background: #020817;
    --foreground: #f7f7fb;

    --card: #020817;
    --card-foreground: #f7f7fb;

    --popover: #020817;
    --popover-foreground: #f7f7fb;

    --primary: #f7f7fb;
    --primary-foreground: #0e1629;

    --secondary: #1d2839;
    --secondary-foreground: #f7f7fb;

    --muted: #1d2839;
    --muted-foreground: #93a2b7;

    --accent: #1d2839;
    --accent-foreground: #f7f7fb;

    --destructive: #801d1d;
    --destructive-foreground: #f7f7fb;

    --border: #1d2839;
    --input: #1d2839;
    --ring: #cbd5e1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
