.proj-conteiner{
    margin: 20px auto;
    max-width: 700px;
}
.proj-conteiner > .myImg{
    margin: auto;
    padding: 20px;
    max-width: 325px;
}
.proj-conteiner > .myImg > img.img{
    border-radius: 40px;
    padding: 0;
    width: 100%;
}

.proj-conteiner .mid{
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.proj-conteiner .mid p#name {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}
.proj-conteiner .mid .feat{
    text-align: right;
}
/*.proj-conteiner .mid p#login {

}*/



.loading{
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#000;
}

.repos-container{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.repos-container .repos-item{
    width: 300px;
    padding: 10px;
    background-color: var(--color-pallete2);
    margin:5px;
    border-radius: 10px;
    color: var(--color-pallete5);
}
.repos-container .repos-item:hover{
    filter: brightness(80%);
    transition: .3s;
}

.repos-container .repos-item .repos-name{
    font-size: 25px;
}
.repos-container .repos-item .repos-lang{
    font-size: 15px;
}