nav.navbar{
    background-color: var(--color-pallete2);
    height: 54px;
}
nav.navbar > ul.navbaritem{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}